.logo{
    width: 111px;
    
}

.logo img{
    width: 100%;
}

.parent-of-password {
    position: relative;
}

.fa-eye-slash {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
}

.title{
    margin-top: 25px !important;
}


label{
    font-weight: 600;
}

.parent-of-reset{
    margin-top: 60px;
}

.reset{
    width: 179px;
    height: 50px;
    border-radius: 10px;
    background-color: #8a25b1;
    color: white;
    border: 0;
    font-weight: 600;
}