.head .logo {
    min-width: 114px;
    max-width: 125px;
}

.login {
    width: 143px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #12141d;
}

input {
    width: 50px ;
    height: 50px;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
}

input:focus {
    border: solid 2px #8a25b1;
    outline: 0;
}

.confirm{
    width: 100%;
    background-color: #8a25b1;
    padding: 10px ;
    opacity: 0.5;
    border-radius: 10px;
    background-color: #8a25b1;
}

.resend{
    font-weight: 600;
}

.resend a{
    text-decoration: none;
    color: #c492d8;
}

#timer{
    text-align: center;
    margin-top: 5px;
    color: #a8a9aa;
}